div{
    display: inline-block;
    background-color: aliceblue;
    border: 1px solid rgb(9, 3, 19);
    text-align: center;
    height: 200px;
    width: 200px;
    border-radius: 20%
}
div:hover{
    background-color: aqua;
}