@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
    font-family: 'Press Start 2P', cursiva;
    font-size: 16px;
    color: rgb(0, 0, 0);
    ;
}
h1{
    font-family: 'Press Start 2P', cursiva;
}